.detail-btn{
    width: 100%;

}
.card{
    height: 500px;
    
    /* background-color: #000000 !important; */
    

    
}
.card-main{
   
}

.card-header{
    height: 5%;
    /* background-color: #000000 !important; */
}