.card-row{
    margin-left: 100px !important;
    margin-right: 100px !important;
    margin-top: 50px;
    
}

.myproduct{
    /* background-color: #393939;
background-image: linear-gradient(92deg, #393939 0%, #ffffff 100%); */

}

.product-mobil{
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .product-screen{
        display: none !important;
    }
    .product-mobil{
        display: block !important;
    }
}