.table {
    width: 100% !important;
    margin: 50px, 100px, 0px, 100px !important ;
}

.button{
    width: 100px !important;
}

.table-row{
    vertical-align: middle !important;
    
}
.spanD{
    font-size: larger;
}

.price{
    color: blue;
    vertical-align: bottom !important;
}
/* .detail{
    width: 60%;
} */

.cardImg{
    width: 1% !important;
}

/* .myproduct-screen{
    display: none !important;
} */

.completeImg img{
    max-width: 100% !important;
    width: 100% !important;
}

.myproduct-mobile{
    display: none !important;
}

.product-img{
    
        display: flex;
      justify-content: center;
      align-items: center;
      
    }

@media only screen and (max-width: 600px) {
    .ui.table:not(.unstackable) tr>td.myproduct-screen {
        display: none !important;
    }
    .myproduct-mobile{
        display: block !important;
    }
}